body, html {
    height: 100%;
    margin: 0;
    background-color: black; 
  }
  
  .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  
  .slideshow-container {
    max-width: 1300px;
    position: relative;
    overflow: hidden;
  }
  
  .slide {
    display: none;
  }
  
  .slide img {
    width: 100%;
    display: block;
  }
  
  .wing {
    position: absolute;
    top: 40%;
    width: 300px; 
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .prev {
    left: calc(50% - 900px); 
  }
  
  .next {
    right: calc(50% - 900px); 
  }
  
  .wing:hover {
    transform: scale(1.1);
  }
  